        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/home" class="brand-link">
                <img src="/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                    style="opacity: .8">
                <span class="brand-text font-weight-light">BCAT Platform</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">{{getUserType payload.type}} {{payload.name}}</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search"
                            aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                        
                        <li class="nav-item">
                            <a href="/mbrshps" class="nav-link">
                                <i class="nav-icon fas fa-shopping-cart"></i>
                                <p>
                                    Memberships
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/assets" class="nav-link">
                                <i class="nav-icon fas fa-university"></i>
                                <p>
                                    Assets
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/comms" class="nav-link">
                                <i class="nav-icon fas fa-cubes"></i>
                                <p>
                                    Communities
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-coins"></i>
                                <p>
                                    Tokens
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/tokens" class="nav-link">
                                        <i class="fas fa-minus-square nav-icon"></i>
                                        <p>
                                            Contracts
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/tokens/minter" class="nav-link">
                                        <i class="fas fa-minus-square nav-icon"></i>
                                        <p>
                                            Minter
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/tokens/pauser" class="nav-link">
                                        <i class="fas fa-minus-square nav-icon"></i>
                                        <p>
                                            Pauser
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/tokens/issue" class="nav-link">
                                        <i class="fas fa-minus-square nav-icon"></i>
                                        <p>
                                            Issue Token
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-file-invoice-dollar"></i>
                                <p>
                                    Crowdsales
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/crowdsales" class="nav-link">
                                        <i class="fas fa-minus-square nav-icon"></i>
                                        <p>
                                            Contracts
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/crowdsales/run" class="nav-link">
                                        <i class="fas fa-minus-square nav-icon"></i>
                                        <p>
                                            Run Crowdsale
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/crowdsales/buy" class="nav-link">
                                        <i class="fas fa-minus-square nav-icon"></i>
                                        <p>
                                            Buy Tokens
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-search-dollar"></i>
                                <p>
                                    Coingecko
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/coingecko/markets" class="nav-link">
                                        <i class="fas fa-minus-square nav-icon"></i>
                                        <p>
                                            Markets
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/coingecko/exchanges" class="nav-link">
                                        <i class="fas fa-minus-square nav-icon"></i>
                                        <p>
                                            Exchanges
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="/users" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>Users</p>
                            </a>
                        </li>
                    </ul>
                        
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>